<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Simple example of second view
                </h1>
                <small>Configure in config.js as minor state.</small>



                <div class="col-lg-2">
                    <div class="widget navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-twitch fa-4x"></i>
                            <h1 class="m-xs">456</h1>
                            <h3 class="font-bold no-margins">
                                Shield
                            </h3>
                            <small>power</small>
                        </div>
                    </div>
                    <div class="widget red-bg  p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-twitch fa-4x"></i>
                            <h1 class="m-xs">612</h1>
                            <h3 class="font-bold no-margins">
                                Thunder
                            </h3>
                            <small>amount</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="widget yellow-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-twitch fa-4x"></i>
                            <h1 class="m-xs">520</h1>
                            <h3 class="font-bold no-margins">
                                Likes
                            </h3>
                            <small>amount</small>
                        </div>
                    </div>
                    <div class="widget blue-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-twitch fa-4x"></i>
                            <h1 class="m-xs">Alarm</h1>
                            <h3 class="font-bold no-margins">
                                Do
                            </h3>
                            <small>something</small>
                        </div>
                    </div>
                </div>

                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="contact-box">
                                <a>
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-software/256/Yahoo-Messenger-icon.png">
                                            <div class="m-t-xs font-bold">Graphics designer</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>John Smith</strong></h3>
                                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>

                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="notes">
                    <li>
                        <div>
                            <small>12:03:28 12-04-2014</small>
                            <h4>Long established fact</h4>
                            <p>The years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>

                </ul>



                <button class="btn btn-primary dim btn-large-dim" type="button"><i class="fa fa-money"></i></button>
                <button class="btn btn-warning dim btn-large-dim" type="button"><i class="fa fa-warning"></i></button>
                <button class="btn btn-danger  dim btn-large-dim" type="button"><i class="fa fa-heart"></i></button>

                <button type="button" class="btn btn-outline btn-primary">Primary</button>

                <button class="btn btn-outline btn-warning dim" type="button"><i class="fa fa-warning"></i></button>

                <button class="btn btn-primary dim" type="button"><i class="fa fa-check"></i></button>


                <div class="panel panel-success">
                    <div class="panel-heading">
                        Success Panel
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>